.App {
    text-align: center;
}

.pageName {
  color: #02b3e4;
  font-style: italic;;
}

.App-header {
  background-color: #333;
  height: 150px;
  padding: 20px;
  color: #fff
}

#map {
    height: 93vh;
    width: 100vw;
}

html, body {
    font-family: "PT Sans", sans-serif;
    height: 100%;
    width: 99.49%;
    margin: 0;
    padding: 0
}

#navigation {
  width:100%;
  height: auto;
}

#navigation nav.heading {
  font-family: "PT Sans", sans-serif;
  background-color : white;
  padding : 4px;
  text-align: center;
  width: 100%;
}

#navigation nav.heading #header {
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  color: #02b3e4;
}

#locationList .hamburger-menu {
  position :absolute;
  top : 10px;
  left: 20px; 
}

#locationList .hamburger-menu div {
  width: 35px;
  height: 5px;
  margin: 5px 0;
  background-color: white;
}

#locationList .menu-list {
  font-family: "PT Sans", sans-serif;  
  position: absolute;
  top: 39px; 
  margin: 0;
  background-color: white;
  width: 15%;
  height: 93vh;
  overflow: scroll;
  list-style: none;
  padding-left: 0; 
}

#locationList .menu-list input {
  font-family: "PT Sans", sans-serif;  
  margin: 0;
  width: 98%;
  height: 20px;
  font-size: 15px;
  color: #02b3e4;
} 

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

::placeholder {
  font-family: "PT Sans", sans-serif;  
  margin: 0;
  font-size: 15px;
  font-style: italic;
  color: black;
  opacity: 0.3;
} 

#locationList ul.menu-list li {
  margin-bottom : auto;
}

.container {
    display: inline-block;
    cursor: pointer;
}

ul {
  font-family: "PT Sans", sans-serif;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  width: 25%;
  background-color: #eee;
  position: fixed;
  height: 90vh;
  overflow: auto;
}

li a {
  display: block;
  color: #02b3e4;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
}

li a.active {
  background-color: #4CAF50;
  color: #eee;
}

li a:hover:not(.active) {
  background-color: #02b3e4;
  color: white;
  border-radius: 10px;
  box-shadow: 10px;
}

#locationList .closebtn {
  position: absolute;
  top: 0;
  right: 0.5px;
  font-size: 36px;
  margin-left: 50px;
}

#footer {
  font-family: "PT Sans", sans-serif;  
  padding: 5px;
  text-align: right;
  font-size: 12px;
}

#footer a:link {
  color: #02b3e4;
  text-decoration: none;
}

#footer a:visited {
  color: #02b3e4;
  text-decoration: none;
}

#footer a:hover {
  color: white;
  background-color: #02b3e4;
  border-radius: 5px;
  text-decoration: none;
  }

/*
@media screen and (max-width: 750px) {      
    header nav#menu ul:hover > li{
        display:block !important;
    }

    header nav#menu ul li{
        display:none !important;
    }
}
*/